.product {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.image {
    position: relative;
}

.name {
    font-size: 24px;
}

.buyButton {
    padding: 5px;
    cursor: pointer;
}